@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

.heading {
  font-family: "Libre Baskerviil";
}

.exp {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #ff1361 100%
  );

  color: white;
}
